.cat {
    width: 200px;
    border: 3px red solid;

    /* рамка для фото */
    /* border-radius: 10px; */
    border-radius: 50%;

    /* обтекание текста вокруг картинки */
    float: left;

    margin-right: 20px;
}

/* для того, чтобы разьединить эл-ты на странице, избавиться от предыдущего 'float' */
/* 'clear' - отменить предыдущие настройки для следующего обьекта*/
.clear {
    clear: both;
}

.centre {
    text-align: center;
}

.cat1 {
    width: 200px;
    border: 3px red solid;

    /* рамка для фото */
    /* border-radius: 10px; */
    border-radius: 50%;
}
