div{
    border: 1px solid black;
}

#color_box{
    background-color: aqua;
    width: 100%;
    height: 300px;
}
#main_container{
    width: 100%;
}

#left_slide{
    width: 39%;
    float: left;
    height: 300px;
    background-color: chocolate;
}

#right_slide{
    width: 59%;
    float: left;
    height: 300px;
    background-color: pink;
}

@media(min-width: 0px) and (max-width: 599px)
{
    #color_box{
        background-color: blue;

        /* если два следующих эл-та друг другу не мешают - то лучше их вместе оставить */
        
        /* элемент полностью исчезнет */
        display: none;
        /* документ есть, но он скрывается, но место, которое он занимает - браузер держит */
        visibility: hidden;
    }
}

@media(min-width: 600px) and (max-width: 799px)
{
    #color_box{
        background-color: brown;
    }
}

@media(min-width: 800px) 
{
    #color_box{
        background-color: fuchsia;

        /* здесь эл-ты появляются */
        /* display: block;
        visibility: visible; */
    }
}

@media(min-width: 530px) 
{
    /* добавить 'margin' */
    #right_slide{
        margin-left: 10px;
    }
}